<html>
  <head lang="en-US">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="refresh" content="0;url={{ spec.url }}">
    <title>{{ spec.id }}: {{ spec.description }}</title>

    <meta name="twitter:title" content="{{ spec.id }}">
    <meta name="twitter:description" content="{{ spec.description }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://specs.corepaper.org/{{ spec.id }}">
    <meta name="twitter:site" content="@sorpaas">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ spec.id }}">
    <meta property="og:description" content="{{ spec.description }}">
    <meta property="og:url" content="https://specs.corepaper.org/{{ spec.id }}">
    <meta property="og:site_name" content="Core Paper">

    <meta itemprop="name" content="{{ spec.id }}">
    <meta itemprop="description" content="{{ spec.description }}">
  </head>
  <body>
    Click <a href="{{ spec.url }}">here</a> if the redirect does not
    happen automatically.
  </body>
</html>
